{%extends 'admin.html'%}
{%load static%}
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Раздел просмотра студенческих курсов</title>
</head>
<body>
    <h2 style="text-align: center; color: white;">ПОСМОТРЕТЬ СТУДЕНЧЕСКИЕ КУРСЫ</h2>


    <div class="row">
        <div class="col-4" style="margin-left: 550px;">
            <form method="get" class="d-flex mt-3" >
                <input type="text" class="form-control me-3  " placeholder="Пишите имя и фамилию правильно" name="q" value="{{name}}" ">
                <button class="btn btn-success">ПОИСК</button>
            </form>
        </div>
    </div>

    <div class="container " style="margin-top: 80px;">
        <table class="table table-dark table-striped table-hover">
    
          <thead>
            <tr>
              <th style="padding-left: 30px;">Группа номер</th>
              <th>Имя</th>
              <th>КУРСЫ</th>
              <th>УЧИТЕЛЯ</th>
            </tr>
          </thead>
    
          <tbody>
            {% for i in kurslar%}
            <tr>
              <td style="padding-left: 70px;">{{i.guruh}}</td>
              <td>{{i.uquvchi_id.ism}} {{i.uquvchi_id.familiya}}</td>
              <td>{{i.kurs_id.kurs_nomi}}</td>
              <td>{{i.uqituvchi_id.ism}} {{i.uqituvchi_id.familiya}}</td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
      </div>
    




{%endblock%}
</body>
</html>